* {
  margin: 0;
}
/* Old Nav Bar Starts here */
/*header::after {
  content: "";
  display: table;
  clear: both;
} */

/*.logo {
  float: right;
}
img {
  margin-top: 1%;
  max-width: 100px;
  max-height: 100px;
}

nav {
  float: right;
}*/

/*nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}*/

/*nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 600;
}*/

/*nav a {
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  color: #ff8a16;
} */ /* Old Nav Bar Ends here */

/* Nav Bar Starts Here */
/* Flexbox Contatiner for Nav Bar */
/*html {
  background-color: #ffa032;
  padding: 10px;
  margin: 0;
}*/

/*body {
  background-color: yellow;
  padding: 10px;
  margin: 0;
}*/

.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  /*background-color: #f073e1;*/
}

.flex-container1 > div {
  max-width: 800px; /*800px*/
  margin: 0px; /*10px*/
  /*margin-left: 0px;
  /*text-align: center;*/
  line-height: 10px;
  padding: 30px;
}

/* Logo */
.nav-logo {
  margin-top: 0px; /*15px*/
  margin-left: 0px; /*80px*/
  margin-right: 0px; /*0px*/
  margin-bottom: 0px; /*15px*/
  width: 60px; /*200px*/
  height: 60px; /*100px*/
  /*background-color: #f800db;*/
  margin: 0px;
  margin-right: 50px;
}

img {
  max-width: 120px; /*120px*/
  max-height: 120px; /*120px*/
  /*margin-bottom: 0px; /*40px*/
  margin-top: -15px; /*-45px*/
  margin-left: 45px;
}

/* Nav Bar text */
.nav-text {
  /*background-color: #f800db;*/
  margin: 0px;
  /*max-width: 500px;
  max-height: 20px;*/
  width: 380px; /*580px*/
  padding: 0px;
  /*margin-right: 100px; /*20px*/
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
}

h2 {
  margin-left: 0px;
  margin-right: 0px;
  line-height: 80px; /*80px*/
}
.nav-empty-space {
  /* background-color: #f800db;*/
  width: 100px; /*80px*/
  height: 80px; /*40px*/
  margin: 0px; /*10px*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*background-color: #f800db;*/
}

nav li {
  /*display: center;*/
  margin-left: 0px;
  padding-top: 20px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 600;
}

nav a {
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  color: #ff8a16;
}

.nav-home {
  /*background-color: #f800db;*/
  width: 20px; /*80px*/
  height: 50px; /*40px*/
  margin: 0px; /*10px*/
  margin-left: -50px;
}

.nav-contact {
  /* background-color: #f800db;*/
  width: 20px; /*80px*/
  height: 50px; /*50px*/
  margin: 0px; /*20px*/
  margin-left: 30px;
}

.nav-about {
  /*background-color: #f800db;*/
  width: 20px; /*50px*/
  height: 50px; /*50px*/
  margin: 0px; /*20px*/
  margin-left: 30px;
}

.nav-blog {
  /*background-color: #f800db;*/
  width: 20px; /*80px*/
  height: 50px; /*50px*/
  margin: 0px; /*20px*/
}

/* Welcome text On Home Page */
.welcome {
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

/* About Page */
.about1 {
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

/*Css Grid Styles*/
/*.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  padding: 10px;
  /* border-radius: 100px;
  width: 45%;
  height: 100%;*/
/*}

/*.grid-container > div {
  text-align: center;
}*/
/* Ending of Css Grid*/
/* .item1 {
  grid-column-start: 1;
  grid-row: 1;
  grid-auto-flow: column;
} */

/*Css Flexbox For Home Page Buttons*/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue;*/
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} /*end of Css Flexbox*/

/* Both Button styles */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 60%;
  height: 91%;
}
/* Younger Divison Button */
.button1 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 15px;
  width: 200px;
  height: 60px;
}
/* Older Divison Button */
.button2 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 5px;
  width: 180px;
  height: 60px;
}
/* Blog Coming Soon */
.blog1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.contact1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.younger {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.older {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: currentColor;
}

.spacer {
  padding: 30px;
}

/*nav{
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {
  
  
}


ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;

}

ul li a {
  text-decoration: none;
   font-size: 14px;
  font-family: roboto;
  color: #7A7A7A;
  padding: 0 20px;
  
  
}

ul li a:hover {
  color: #FF8A16;
}  
*/
